<ion-header>
  <ion-toolbar>
    <ion-input
      #inputBox
      type="text"
      debounce="200"
      enterkeyhint="done"
      placeholder="描述 #标签 #标签"
      (ionChange)="onChange($event)"></ion-input>
    <ion-buttons slot="primary">
      <ion-button (click)="onOk(inputBox.value)">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>最近的活动</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Angola</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Argentina</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>经常活动</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Angola</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Argentina</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Armenia</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
