<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input #email name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #password type="password" name="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #confirmPassword type="password" name="confirm_password" placeholder="Confrim password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" [disabled]="validate(email.value, password.value, confirmPassword.value)" (click)="signUp(email.value, password.value)">注册</ion-button>
</ion-content>
