<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newTick($event)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-virtual-scroll [items]="ticks"
                      [headerFn]="headerFn"
                      [trackBy]="trackByFn"
                      approxItemHeight="67px">
    <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item-sliding *virtualItem="let tick">
      <ion-item>
        <ion-note slot="start" (click)="editTickTime(tick)" class="tick-time">{{ tick._time }}</ion-note>
        <ion-label (click)="editActivity(tick)">
          <h2 class="tick-activity">{{ tick.activity }}</h2>
          <!-- h3>{{ item._time }} {{ item._duration }}</h3 -->
          <p class="tick-tags">{{ tick._tagsText }}</p>
        </ion-label>
        <ion-note slot="end" class="tick-duration">{{ tick._duration }}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="faviTick($event, tick)">收藏</ion-item-option>
        <ion-item-option (click)="newTick($event, tick)">插入</ion-item-option>
        <ion-item-option color="danger" (click)="removeTick($event, tick)">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-virtual-scroll>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-datetime
    *ngIf="isEditingTickTime"
    [pickerFormat]="pickerFormat"
    [max]="editingMaxTickTime"
    [min]="editingMinTickTime"
    [value]="editingTickTime"
    (ionCancel)="isEditingTickTime = false"
    (ionChange)="changeTickTime($event)"></ion-datetime>
</ion-content>