<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel($event)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input
      type="text"
      debounce="1000"
      enterkeyhint="done"
      placeholder="描述 #标签"
      [value]="inputText"
      (ionChange)="onChange($event)"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="onOk($event)">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label class="list-header-text">{{ listHeader }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of suggests" (click)="onClickItem(item.text)">
      <ion-label>{{ item.text }}</ion-label>
      <ion-icon slot="end" name="checkmark-outline" *ngIf="item.checked"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>