<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel($event)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input
      type="text"
      debounce="1500"
      enterkeyhint="done"
      placeholder="描述 #标签"
      [disabled]="disableInput"
      [value]="text(tick)"
      (ionChange)="onChange($event)"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="onOk($event)">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label class="list-header-text">{{ tick.activity ? '选择标签' : '选择活动' }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of suggests">
      <ion-label *ngIf="tick.activity.length === 0" (click)="clickActivity(item)">{{ item }}</ion-label>
      <ion-label *ngIf="tick.activity.length > 0">{{ item }}</ion-label>
      <ion-icon slot="end" name="checkmark-outline" *ngIf="tick.activity && tagChecked(item)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
